.custom img{
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.list{
    height: 450px !important; 
    position:relative;
}
.but{
    position:absolute;
    bottom:20px;
    right:20px;
}
.edit{
    background-color: white;
  color: black;
  border: 2px solid #d58512;
}